name: Run

on:
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-2025

    steps:

      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Build
        run: |
          cmake -S . -B build
          cmake --build build

      - name: Run
        run: |
          ./build/Debug/Repro.exe

  linux:
    runs-on: ubuntu-24.04

    steps:

      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Build
        run: |
          cmake -S . -B build
          cmake --build build

      - name: Run
        run: |
          ./build/Repro
